  /* Estilos para o cabeçalho h1 */
  h1 {
    font-size: 2.5rem; /* Tamanho grande para o título principal */
    color: #000000; /* Cor do texto */
    margin-bottom: 1px; /* Espaçamento inferior */
    margin-top: 15px;
    font-family: 'SST';
  }
  
  /* Estilos para os parágrafos p */
  p {
    font-size: 1.1rem; /* Tamanho do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    color: #666666; /* Cor do texto */
    margin-bottom: 1px; /* Espaçamento inferior */
    font-family: 'SST';
    font-weight: bold;
  }