/* locationPage.css */

/* Estilos para centralizar o conteúdo */
.page-containerContact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
  }
  
  /* Estilos adicionais para o formulário */
  form {
    width: 100%;
    max-width: 600px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    font-family: 'SST';
  }
  
  .page-image{
    background-image: url('../../background/backgroundContact.png'); /* Caminho para a sua imagem */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    width: 100%; /* Garante que a largura do contêiner seja 100% */
    height: 100vh; /* Defina uma altura mínima ou use altura dinâmica conforme o conteúdo */

  }
