/* src/components/adm/admTable.css */
/* Estilos para o contêiner da tabela */
.table-container {
  max-width: 95%; /* Ajuste conforme necessário */
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: 'SST';
  font-weight: bold;
  text-align: center; /* Centraliza o texto dentro do contêiner */
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Alinha os botões no início */
  align-items: center; /* Alinha os botões verticalmente no centro */
  gap: 10px; /* Espaçamento entre os botões */
  margin-bottom: 20px; /* Espaçamento inferior para separar os botões do restante do conteúdo */
}

.button-container .button {
  flex: none; /* Garante que os botões não se expandam para preencher o contêiner */
}

/* Estilos para os botões na tabela */
.button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #000066;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.button:hover {
  background-color: #0056b3;
}


/* Estilos para a tabela */
.table-container table {
  width: 100%; /* Garante que a tabela ocupe 100% da largura disponível */
  border-collapse: collapse;
  margin: 0 auto; /* Centraliza a tabela dentro do contêiner */
}

.table-container th, .table-container td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.table-container th {
  background-color: #000066;
  color: white;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Posiciona a paginação de forma absoluta */
  bottom: 20px; /* Fixa a 20px do fundo do contêiner */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  gap: 5px; /* Adiciona um espaço entre os botões */
}

.pagination button, .pagination span {
  width: 30px; /* Define uma largura fixa para os botões */
  height: 30px; /* Define uma altura fixa para os botões */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px; /* Ajusta o padding para um tamanho menor */
  margin: 0 2px; /* Reduz a margem entre os botões */
  background-color: #000066;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; /* Ajusta o tamanho da fonte */
  flex-shrink: 0; /* Impede que os botões se expandam */
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #0056b3;
  cursor: not-allowed;
}

.pagination span {
  background-color: transparent;
  color: #000;
  cursor: default; /* Remove o cursor de pointer para spans */
}

.inactive {
  color: rgb(255, 49, 49);
}

.sort-options {
  position: relative; /* Altera para relativo */
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0; /* Remove o padding da lista */
  list-style: none; /* Remove os pontos da lista */
}

.dropdown.show {
  display: block;
}

.dropdown li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #ffffff;
}

.page-backgroundADMTable{
  background-image: url('../../background/backgroundADM.png'); /* Caminho para a sua imagem */
  background-size: cover; /* Faz com que a imagem cubra todo o fundo */
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  width: 100%; /* Garante que a largura do contêiner seja 100% */
  min-height: 100vh; /* Garante que a altura mínima seja a altura da viewport */
}


@media (max-width: 1220px) {
  .table-container {
      padding: 10px;
  }

  .table-container th, .table-container td {
      padding: 8px;
      font-size: 14px; /* Ajusta o tamanho do texto para telas menores */
      word-wrap: break-word; /* Quebra o texto longo em várias linhas */
      white-space: normal; /* Garante que o texto seja quebrado em várias linhas */
      word-break: break-all; /* Quebra palavras longas sem espaços */
  }

  .table-container table {
      width: 100%; /* Garante que a tabela ocupe 100% da largura disponível */
      display: block; /* Torna a tabela um bloco para melhor manipulação */
  }

  .table-container table thead {
      display: none; /* Esconde o cabeçalho da tabela em telas pequenas */
  }

  .table-container table tbody tr {
      display: block; /* Torna cada linha um bloco */
      margin-bottom: 50px; /* Espaçamento entre as linhas */
  }

  .table-container table tbody td {
      display: flex; /* Usa flexbox para a célula e seu título */
      justify-content: space-between;
      align-items: center;
      word-wrap: break-word; /* Garante que o texto nas células seja quebrado em várias linhas */
      white-space: normal; /* Garante que o texto seja quebrado em várias linhas */
      word-break: break-all; /* Quebra palavras longas sem espaços */
  }

  .table-container table tbody td:before {
      content: attr(data-label); /* Adiciona um título antes do conteúdo da célula */
      flex-basis: 50%; /* Define a largura do título */
      text-align: left; /* Alinha o texto à esquerda */
      font-weight: bold; /* Torna o título em negrito */
  }

  .table-container table tbody td[data-label="Imagem"]:before {
      margin-right: 40px; /* Adiciona uma margem à direita do texto "Imagem" */
  }

  .table-container table tbody td:last-child:before {
      content: ''; /* Remove o título do último botão */
  }

  .sort-options {
    position: relative;
    z-index: 1;
  }
}
