/* locationPage.css */

/* Estilos para centralizar o conteúdo */
.page-containerLocation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
  }
  
  /* Estilos para o contêiner das seções de localização */
  .locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Largura máxima do contêiner */
  }
  
  /* Estilos para seções de localização */
  .location-section {
    margin: 20px; /* Espaçamento ao redor das seções */
    flex: 1;
  }
  
  /* Estilos para o cabeçalho h2 */
  .location-section h2 {
    font-size: 2rem; /* Tamanho do título das seções */
    color: #444; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento inferior */
  }
  
  /* Estilos para o contêiner do mapa */
  .map-container {
    margin-top: 10px; /* Espaçamento superior */
  }
  
  /* Media query para telas grandes */
  @media (min-width: 1400px) {
    .locations-container {
      flex-direction: row; /* Alinha as seções lado a lado */
      justify-content: space-between; /* Espaço entre as seções */
    }
  
    .location-section {
      margin: 20px; /* Espaçamento ao redor das seções */
    }
  }
  